doctype html
html
    head
        meta(charset='utf-8')
        |
        title Register
    |
    body
        h1 Register
        |
        form(action='/id_find', method='post')
            | Name :
            input(type='text', name='password_find_name')
            br
            | ID :
            input(type='text', name='password_find_id')
            br
            | Email :
            input(type='text', name='password_find_email')
            br
            |
            input(type='submit')

